* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.button {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0);
    color: #008e9b;
    flex: 1;
    border: 1px solid #008e9b;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(166, 184, 200);
}
